body {
  background-color: #06416e ;
  font-family: "Raleway", sans-serif;
  color: white;
}

.box {
  width: 100%;
  border-radius: 12px;
  height: 150px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
}

#container {
  /* max-width: 250px; */
  margin: 0 auto;
  margin-top: 7vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 50%;
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
}

.tag {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 16px;
}

p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.weather-info div {
  width: 25%;
  height: 100%;
  margin: 20px;
  padding: 5px;
  border-radius: 20px;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.infoContainer {
  margin: 20px;
  height: 10vh;
  margin: 10px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.info {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}